         h1, h2 {
            text-align: center;
        }
.body {
        background-color: black;
        color: cyan;
}
        .special-text {
            text-decoration: underline;
            font-weight: bold;
            color: darkblue;
            font-family: 'Monotype Corsiva', cursive;
            font-size: 1.2em;
        }

        .image-container {
            text-align: center;
            margin: 20px 0;
        }

        .circle-list {
            list-style-type: circle;
            width: fit-content;
            margin: 0 auto;
        }

        .iframe-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 20px;
            margin: 20px 0;
        }

        iframe {
            border: 1px solid #ccc;
        }